REACT_APP_BACKEND_API_URL=https://<URL>
REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_CALLBACK_URL=https://<URL>
REACT_APP_AUTH0_AUDIENCE=

# N.B. For ALL the above, when doing npm run build, MUST use production value

# DEVELOPMENT ONLY; OPTIONAL FOR PRODUCTION
PORT=46874
HTTPS=true
SSL_CRT_FILE=<path to cert file>
SSL_KEY_FILE=<path to key file>
